.black{
    background-color: black;
    color:white;
    padding: 10px;
    text-align: end;
}

.car{
    display: flex;
    /* background-color:rgb(197, 84, 84); */
    justify-content: space-between;
    padding: 0% 8%;
    margin-top: 20px;
    margin-bottom: 20px;

    .car-img{
        background-color:rgb(197, 84, 84);
        width: 10%;
    }
}

.logout{
        padding: 10px;
        background-color: #f5f5f5;

        button{
            padding: 5px;
            border: none;
            font-weight:10px;
            font-weight: bold;
            margin-left: 90%;
        }

    }

    @media(max-width:600px){
        .logout{
            button{
                font-size: 9px;
            }
        }

        .black{
            span{
                font-size: 15px;
            }
        }
    }