.slide-image{
  width: 100%;
  height: 95vh;
   background: linear-gradient (rgba(0, 0, 0, 0.425));
 
}

.hero{
   /* position: relative; */
   background: linear-gradient (rgba(0, 0, 0, 0.425));
}




.cart{
    text-align: center;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    background-color:white;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius:7px 0 0 7px    ;
    position: fixed;
    z-index: 1000;
    padding: 18px;
}

.hero-second{
    background-image: url("https://i.pinimg.com/1200x/85/36/a1/8536a1d1c2154aee2170b49e82d266f2.jpg");
      background-position: center;
    background-size: cover;
    height: 70vh;
    text-align: center;

    h1{
        color: white;
        padding-top: 10%;
        font-size: 110px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }

    button{
        background-color: red;
        color:white;
        margin-top: 4%;
        width: 140px;
        padding: 15px;
        border: none;
        font-size: 17px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }



}

@media(max-width:600px){

    .hero-second{
        height: 90vh;


        h1{
            font-size: 90px;
            padding: 5%;
            padding-top: 20%;
        }
    }
    .slide-image{
        height: 61vh;
    }
}