

.vin{
    width: 100%;
   
   
}

.vin-h1{
    padding-left: 4%;
    padding-top: 40px;
  font-size: 34px;
  color: #333;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

.d{
  display: flex;
  justify-content:center;
}

.vin-p{
    padding-top: 20px;
    padding-left: 5% ;
    padding-right: 5%;
    padding-bottom: 5%;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight:100;
    color: #313030;
    /* padding-top: 8%; */
}
.vin-im{
    width: 100%;
    height: 50vh;
    padding-left: 10%;
    display: block;
    z-index: 1;
    position: relative;
    
}



.vin-for{
    display:flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.vin-for :hover{
    transform: translateX(-5px);
}

.vin-card{
    border-radius: 10px;
    box-shadow: 0 2px 8px grey;
    text-align: center;
    width: 20%;
     position: relative;
     transition: transform 0.3s ease;
     overflow: hidden;
}

.vin-card :hover{
    transform: translateY(-5px);
}

.vin-h3{
    font-size: 15px;
    padding-top: 10px;
}

.hover-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 4s ease 0.3, ;
    /* transform: translateY(-20px); */
    z-index:5;
}

.vin:hover .hover-text{
    opacity: 1;
    /* transform: translateY(0); */
}

@media(max-width:900px){
    .vin-for{
        flex-direction: column;
        align-items: center;
    }

    .vin-card{
        width: 50%;
    }
}

@media(max-width:600px){
    .vin-for{
        flex-direction: column;
        align-items: center;
    }

    .vin-card{
        width: 90%;
    }

    .product-oo{

        
        span{
            font-size: 15px;
        }
    }
}

@media (hover: none) and  (pointer: coarse){
    .hover-text{
        opacity:  0;
        transform: translateY(20px);
    }
}