.ull{
    background-color: rgb(197, 84, 84);
    margin-right: 80%;
    height: 100vh;
    padding-top: 20px;

    h1{
        font-size: 20px;
        color: white;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }

    span{
        padding-left: 20px;
        /* padding-top: 20px; */
        padding-right: 20px;
        /* margin-bottom: 120px; */
        color: white;
    }

    .first{
        padding-bottom:30px;
    }

    li{
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        font-weight: bold;
        color: white;
    }
}

.mobile-nav{
    display: none;
}

.overlay{
    display: none;
}

.overlay.show{
    display: block;
    position: fixed;
    inset: 0;
    /* background: rgba(0,0,0,0.35); */
    backdrop-filter: blur(1.5px);
    z-index: 10000;
    transition: opacity 0.25s ease;
    opacity: 1;
}

.overlay{opacity: 0; pointer-events: none;}

.overlay.show{opacity: 1; pointer-events: auto;}


.mobil-nav{
    display: none;
}



.mobil-nav.show{
    display: flex;
     opacity: 1;
   
}


.mobil-nav{
    padding: 30px;
    gap: 20px;
    border-radius: 0 20px;
    height: 100vh;
    width: 250px;
    position: fixed;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    z-index: 20002;
    transition: transform 0.3 ease,opacity 0.25s ease;
    opacity: 0;
    background-color:rgb(197, 84, 84);
    top: 10px;

    .non-ul{
        display: block;
        padding-top: 4%;
        list-style: none;
    }

    .non-li{
        padding-top: 17px;
        font-size: 20px;
        color: white;
    }

    span{
        /* padding-left: 20px; */
        /* padding-top: 20px; */
        padding-right: 20px;
        /* margin-bottom: 120px; */
        color: white;
    }

    .first{
        padding-bottom:30px;
    }

     h1{
        font-size: 20px;
        color: white;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }

    
}

.menu{
    display: none;

    
}

@media(max-width:600px){

    .men{
    position: absolute;
    left: 150%;
    width: 300%;
    
}

    .admm{
        padding: 10px;
        /* font-size: 15px; */
        width: 110px;
        font-weight: bold;
        border: none;
        background-color: black;
        color: white;
        align-items: end;
        border-radius: 5px;
        margin-top: 20px;
        
    }
      
          .ull{
            display: none;
           
          }

          .menu{

            display:block;
            margin-left: 10px;
            border-radius: 10px;
            /* padding-top: 6px; */
            padding-left: 10px;
            font-size: 7px;
            width: 60px;
            height: 5vh;
            /* margin-top: 3%; */
            padding-top: 10px;


            
          }

         
      
         
}

@media(max-width:450px){

    .men{
    left: 70%;
    
}
}