.statss{
    margin-top: 2%;
    border: 1px solid grey ;
    padding: 20px;
    border-radius: 10px;
}

.statss-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;

    h4{
        margin-top: 2%;
       
    }
    h2{
margin-top: 2%;
    }
}

.stat-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;  
    margin-top: 2%;
}

.bbbnm{
    margin-bottom: 2%;
}

.gallery-but{
    margin-left:32%;
    margin-bottom: 20px;
    
    
    button{
        background-color: red;
        padding: 5px;
        width: 100px;
    }
}

.filter{

    margin-left: 75%;
}

@media(max-width:600px){
    .statss-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    

    h4{
        margin-top: 4%;
        
    }
    h2{
margin-top: 4%;
    }
}

.filter{

    margin-left: 5%;
}


.stat-flex{
    margin-top: 5%;
}

.statss{
    margin-top: 9%;
}

}